[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/gruvhugo"]
	path = themes/gruvhugo
	url = https://gitlab.com/avron/gruvhugo.git
