@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');

body {
  margin: 0;
  height: 100%;
  font-display: swap;
  font-weight: 400;
  font-family: "Lora", sans-serif;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  flex: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*:after {
  box-sizing: border-box;
}
body h1,
body .h1 {
  display: block;
  margin-top: 0.5rem;
  text-decoration: underline dotted;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body h2,
body .h2 {
  position: relative;
  display: block;
  margin-top: 0.5rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 1em;
}
article .content h2:before {
  position: absolute;
  top: -4px;
  left: -1rem;
  color: #000;
  content: "";
  font-weight: bold;
  font-size: 1.2rem;
}
pre {
  overflow-x: auto;
  padding: 10px 15px;
  padding-bottom: 0;
  background-color: #fff;
  border: 1px dotted #666;
  border-radius: 4px;
  font-size: 16px;
  line-height: 26px;
  -webkit-border-radius: 4px;
}

code {
  padding: 0 3px;
  border: 0px none #666;
  font-family: "Source Code Pro", monospace;
  border-radius: 0px;
  -webkit-border-radius: 2px;
}
.pagination {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.border-box {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin-top: 0rem;
}

#tag-cloud .tag-cloud-title {
  color: #666;
}
.post-list .post-item .meta {
  display: block;
  margin-top: 0.3rem;
  margin-right: 16px;
  min-width: 100px;
  color: #666;
  font-size: 14px;
}
