@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');


body {
  margin: 0;
  height: 100%;
  color: #363533;
  font-display: swap;
  font-weight: 400;
  font-size: 14px;
  font-family: "Lora", sans-serif;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  flex: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
